SECRET_KEY=your_secret_key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_SUPERUSER_EMAIL=shady@gmail.com
DJANGO_SUPERUSER_PASSWORD=shady123!
DB_NAME=snapfix
DB_USER=snapfix
DB_PASSWORD=snapfix123
DB_HOST=localhost
DB_PORT=5432